.App {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 margin-left: 20%;
 margin-right: 20%;
 justify-content: space-between;
 background-color: #111254;
 margin-top: 0px;
 padding: 20px;
 font-size: 1.25rem;
 color: white;
}
.link{
  color: white;
  text-decoration: none;
}




